<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceLinker</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body id="root">
    <header>
      <div class="logo"></div>
      <div class="website-name">FaceLinker</div>
      <div class="logout">
        <form action="/logout" method="post" class="logout-form">
          <button type="submit" class="logout-btn">Logout</button>
        </form>
      </div>
    </header>
    <div class="container">
      <h1 class="title">UPLOAD IMAGES TO FIND FACE MATCHES</h1>
      <div class="sub-container">
        <form action="/detect" method="post" enctype="multipart/form-data">
          <div class="left-container">
            <div id="left-container" class="upload-container1">
              <h2>Upload Reference Face</h2>
              <div class="upload-btn">
                <input
                  type="file"
                  id="upload_reference"
                  name="reference"
                  accept="image/*"
                  onchange="handleReferenceFile()"
                />
                Upload
                <div id="loader1" class="loader"></div>
              </div>
              {% if error %}
                <p class="warning">
                  <span class="material-symbols-outlined icon"> warning </span
                  >The image must contain <span style="font-weight: bold;">exactly</span> 1 face
                </p>
              {% endif %}
              
            </div>
          </div>
          <!-- <div class="separator"></div> -->
          <div class="right-container">
            <div id="right-container" class="upload-container2">
              <h2 id="referenceTitle">Reference Image Preview</h2>
              <div id="image-preview1" class="image-preview">
                <img id="referenceImage" src="" alt="Uploaded Image" />
              </div>
              <div class="submit">
                <button
                  type="submit"
                  id="submit-btn"
                  class="submit-btn"
                  onclick="handleDetection()"
                  disabled
                >
                  Proceed
                  <div id="loader3" class="loader-submit"></div>
                  <span id="arrow-icon" class="material-symbols-outlined"> arrow_forward </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <footer>Copyright©2024</footer>
    </div>
    <script src="../static/scripts/index.js"></script>
  </body>
</html>
